.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    background-color: white;
    height: auto;
    width: auto;
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
.content-header {
    background-color: #d3d3d3;
    position: relative;
    top: 0;
}
.footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 2rem;
}
.status-header {
    display: flex;
    justify-content: space-around;
}
.status-button {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}
.links {
    color: white;
    text-decoration: none;
}