html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
    background-color: #e2e2e2;
}

body {
    background-color: #e2e2e2;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}
.sweet-loading {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}