html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
    background-color: #e2e2e2;
}

body {
    background-color: #e2e2e2;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}